@import url("./fonts/fonts.css");

p, div, h1, h2, h3, h4, h5 {
    font-family: robotoText;
}

#main-container {
	width: 540px;
	height: 960px;
}

.title-bar {
	width: 540px;
	height: 35px;
}

.title-text {
  font-family: amaranth;
	font-size: 28px;
  float:left;
}

img.settings-navigator {
	width: 35px;
	height: 35px;
	float: right;
}

div.container{
	border-style: solid;
	border-width: 1px;
	width: 540px;
	height: 960px;
}

img.android-title {
	width: 540px;
	height: 35px;
}

img.navigator {
	width: 108px;
	height: 50px;
	float: left;
}

.pagination {
	width: 100%;
	height: 50px;
}

#content-view {
	width: 540px;
	height: 875px;
}

.button-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-div {
	width: 108;
	height: 50px;
	float: left
}

#mapIcon {
    position: absolute;
    top: 850px;
    left: 430px;
    width: 100px;
    height: 100px;
}

#map {
    width: 100%;
}

table {
  width: 100%;
}

tr {
  height: auto;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

td, th {
  height: auto;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: left;
}

.stop_time {
  text-align: right;
}

.stop_text {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  font-size: 1.5em;
  text-decoration: none;
}
